{% extends 'base_generic.html' %}

{% block title %}<title>Login</title>{% endblock %}
{% block content %}
    <section class="auth-section">
        <h1 class="section-title">Login</h1>
        {% if form.errors %}
            <p class="auth-error">Your username and password didn't match. Please try again.</p>
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
                <p class="auth-info">Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
            {% else %}
                <p class="auth-info">Please log in to see this page.</p>
            {% endif %}
        {% endif %}

        <form method="post" action="{% url 'login' %}" class="auth-form">
            {% csrf_token %}
            <div class="auth-form__field">
                <label for="{{ form.username.id_for_label }}">Username:</label>
                {{ form.username }}
            </div>

            <div class="auth-form__field">
                <label for="{{ form.password.id_for_label }}">Password:</label>
                {{ form.password }}
            </div>

            <div class="auth-form__actions">
                <button type="submit">Login</button>
                <a href="{% url 'index' %}" class="button-cancel">Cancel</a>
            </div>

            <input type="hidden" name="next" value="{{ next }}">
        </form>
    </section>
    
{% endblock %}
