{% extends 'base_generic.html' %}

{% block title %}<title>Manage Clients And Employees</title>{% endblock %}
{% block content %}
    <h2>Manage Clients And Employees</h2>
    <h3>Users</h3>
    <button><a href="{% url 'register' %}">Create client</a> </button>
    <button><a href="{% url 'create_employee' %}">Create employee</a></button>
    {% for user in users %}
        <p>{{ user.get_full_name }} - {{user.user_type}}</p>
        <button type="button"><a href="{% url 'edit_user' user.id %}" style="display:inline">Edit user</a></button>
        <form method="post" action="{% url 'delete_user' user.id %}" style="display:inline">
            {% csrf_token %}
            <button type="submit">Delete</button>
        </form>
    {% endfor %}
<hr>



{% endblock %}
