{% extends 'base_generic.html' %}

{% block title %}<title>Article</title>{% endblock %}

{% block content %}
    <article class="article-page">
        <header class="article-page__header">
            <h2 class="article-page__title">{{article.title}}</h2>
            <time class="article-page__date" datetime="{{ article.created_at|date:'Y-m-d' }}">
                {{ article.created_at }}
            </time>
        </header>
    </article>
    
    {% if article.image %}
        <figure class="article-page__figure">
            <img src="{{ article.image.url }}">
        </figure>
    {% endif %}
    <div class="article-page__content">{{article.content}}</div>
    
    <footer class="article-page__footer">
        <nav>
            <a href="{% url 'article_list' %}">&larr;Back to all news</a>
        </nav>
    </footer>

{% endblock %}