{% extends 'base_generic.html' %}

{% block title %}<title>Article</title>{% endblock %}

{% block content %}
    <article>
        <header>
            <h2>{{article.title}}</h2>
            <time datetime="{{ article.created_at|date:'Y-m-d' }}">
                {{ article.created_at }}
            </time>
        </header>
    </article>
    
    {% if article.image %}
        <figure>
            <img src="{{ article.image.url }}">
        </figure>
    {% endif %}
    <p>{{article.content}}</p>
    
    <footer>
        <nav>
            <a href="{% url 'article_list' %}">&larr;Back to all news</a>
        </nav>
    </footer>

{% endblock %}