{% extends 'base_generic.html' %}

{% block title %}<title>News</title>{% endblock %}

{% block content %}
    <h2>Company news</h2>
    {% for article in articles %}
        <div class="info">
            <p>{{article.title}}</p>
            <p>{{article.short_description}}</p>
            {% if article.image %}
                <img src="{{ article.image.url }}">
            {% endif %}
        </div>
        <a href="{% url 'article_info' article.id %}">Read more...</a>
        <hr>
    {% endfor %}
{% endblock %}