{% extends 'base_generic.html' %}

{% block title %}<title>Create Order</title>{% endblock%}
{% block content %}
    <h2>Create Order</h2>
    <form method="post">
        {% csrf_token %}
        {% if user.is_superuser %}
            <select name="client">
                {% for client in clients %}
                    <option value="{{ client.id }}">{{ client.get_full_name }}</option>
                {% endfor %}
            </select>
        {% endif %}
        {{ form.as_p }}
        <button type="submit">Order</button>
        <button type="button"><a href="{% url 'profile' %}">Cancel</a></button>
    </form>
{% endblock %}