{% extends 'base_generic.html' %}

{% block title %}<title>Edit Order</title>{% endblock%}
{% block content %}
    <h2>Edit Order</h2>
    <form method="post">
        {% csrf_token %}
        <label for="address">Address</label>
        <input id="address" type="text" name="address" value="{{order.address}}"><br><br>
        <label for="work_date">Work Date</label>
        <input id="work_date" type="date" name="work_date" value="{{order.work_date|date:'Y-m-d'}}"><br><br>
        <select name="employee">
            {% for employee in employees %}
                <option value="{{employee.id}}" {% if employee.id == order.employee.id %}selected{% endif %}>{{employee.get_full_name}}</option>
            {% endfor %}
        </select><br><br>
        <label for="status">Status</label>
        <select name="status">
            <option value="issued" {% if order.status == 'issued' %}selected{% endif %}>Issued</option>
            <option value="processing" {% if order.status == 'processing' %}selected{% endif %}>Processing</option>
            <option value="completed" {% if order.status == 'completed' %}selected{% endif %}>Completed</option>
            <option value="canceled" {% if order.status == 'canceled' %}selected{% endif %}>Canceled</option>
        </select><br><br>

        <button type="submit">Save</button>
        <button type="button"><a href="{% url 'order_list' %}">Cancel</a> </button>
    </form>
{% endblock %}