{% extends 'base_generic.html' %}

{% block title %}<title>FAQ</title>{% endblock %}
{% block meta_description %}Find quick answers to common questions about our cleaning services, pricing, equipment, safety standards, and booking procedures.{% endblock %}
{% block content %}
    <header>
        <h1><abbr title="Frequently Asked Questions">FAQ</abbr></h1>
    </header>
    
    {% for faq in faqs %}
        <div>
            <details>
                <summary><strong>{{faq.question}}</strong> - <time datetime="{{ faq.date|date:'Y-m-d' }}">{{ faq.date }}</time></summary>
                <p>{{faq.answer}}</p>
            </details><br>
        </div>
    {% empty %}
        <p>No questions available at the moment.</p>
    {% endfor %}

{% endblock %}
